In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Col1':['a','b','c','d','e','f','g','h'],
                   'Col2':[1, 3, 5, 7, 9, 11, 13, 15]}, columns=['Col1', 'Col2'])
df

  Col1  Col2
0    a     1
1    b     3
2    c     5
3    d     7
4    e     9
5    f    11
6    g    13
7    h    15